VITE_QUICK_LOGIN_PASSWORD=
VITE_QUICK_LOGIN_ADMINS=Admin Name:admin@example.com
VITE_QUICK_LOGIN_MENTORS=Mentor One:mentor1@example.com, Mentor Two:mentor2@example.com
VITE_QUICK_LOGIN_MENTEES=Mentee One:mentee1@example.com
