PORT=4004
NODE_ENV=

MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/mentorship

JWT_SECRET=
JWT_EXPIRES_IN=7d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=you@gmail.com
MAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SEED_API_URL=
